<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vip.kirakira.starcitizenlite" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RefugeApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:forceDarkAllowed="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarcitizenLite" >
        <activity
            android:name=".activities.ShipUpgradeSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LocalizationSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HangarLogActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <activity
            android:name=".activities.ThreePartySiteActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PlayerSearch"
            android:exported="true" />
        <activity
            android:name=".activities.CartActivity"
            android:exported="true" />
        <activity
            android:name=".activities.WebLoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>\
    </application>

</manifest>