<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="vip.kirakira.starcitizenlite">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.StarcitizenLite">
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
                   android:value="false" />
        <activity
                android:name=".activities.ThreePartySiteActivity"
                android:exported="true"/>
        <activity
                android:name=".activities.PlayerSearch"
                android:exported="true"/>
        <activity
                android:name=".activities.CartActivity"
                android:exported="true"/>
        <activity
                android:name=".activities.WebLoginActivity"
                android:exported="true"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>